.routes{
    padding:1rem;
    overflow: auto;
    width: 450px;
}
.route{
    display: flex;
    
}
.routeActive{
        background: #e7e5e5;
    }
.routeWeight{
    font-weight: bold;
    width: 35px;
    padding: 0.5rem;
    background: green;
    border-radius: 50%;
    color: white;
    text-align: center;
}
.summary{
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    &:hover{
        background: #e7e5e5;
    }
}

.routeLabel{
    font-weight: bold;
    padding: 0.5rem 0;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    & span{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.routeRow{
    padding: 0.5rem 2.5rem;
    background: #e7e5e5;
    display: flex;
    flex-wrap: wrap;
    
}
.routeCity{
    
    &:not(:last-child):after {
        content: "→";
        padding: 0 0.5rem;
    }
}
.details[open] {
    background: #e7e5e5;
}

.details{
    flex: 1;
}

.search{
 position: sticky;
    top: 0;
    z-index: 10000;
}
.searchInput{

  width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}


.checkbox{
   
}

.pointsContainer{
    display: flex;
    height: calc(100vh - 34px);
    overflow: hidden;
}
.mapContainer{
    position: relative;
    flex: 1;
    height: calc(100vh - 34px);
}