.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.close{
    position: absolute;
}
.cardsPopover{
    position: relative;
    width: calc(100% - 450px);
    height: 100%;
    margin-left: 450px;
}