.card{
    width: 450px;
    position: relative;
}
.header{
    display: flex;
}
.img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
.mapContainer{
    width:450px;
    height:500px;
}